In [295]:
import pandas as pd 
import numpy as np

In [296]:
df=pd.read_csv("C:/Users/mdjit/Downloads/heart.csv")

In [297]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [298]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [299]:
df.head(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0

In [300]:
df["FastingBS"].isnull().sum()

0

In [301]:
df["FastingBS"].unique()

array([0, 1], dtype=int64)

In [302]:
df["Age"].isnull().sum()

0

In [303]:
df["Sex"].isnull().sum()

0

In [304]:
df["ChestPainType"].isnull().sum()

0

In [305]:
df["RestingBP"].isnull().sum()

0

In [306]:
df["Cholesterol"].isnull().sum()

0

In [307]:
df["RestingECG"].isnull().sum()

0

In [308]:
df["MaxHR"].isnull().sum()

0

In [309]:
df["ExerciseAngina"].isnull().sum()

0

In [310]:
df["Oldpeak"].isnull().sum()

0

In [311]:
df["ST_Slope"].isnull().sum()

0

In [312]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Sex']=le.fit_transform(df['Sex'])

In [313]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [314]:
df["ChestPainType"].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [315]:
le=LabelEncoder()
df['ChestPainType']=le.fit_transform(df['ChestPainType'])

In [316]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,2,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,1,130,283,0,ST,98,N,0.0,Up,0
3,48,0,0,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,2,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,0,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,0,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,1,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,2,138,175,0,Normal,173,N,0.0,Up,0

In [317]:
df["RestingECG"].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [318]:
le=LabelEncoder()
df['RestingECG']=le.fit_transform(df['RestingECG'])

In [319]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,N,0.0,Up,0
1,49,0,2,160,180,0,1,156,N,1.0,Flat,1
2,37,1,1,130,283,0,2,98,N,0.0,Up,0
3,48,0,0,138,214,0,1,108,Y,1.5,Flat,1
4,54,1,2,150,195,0,1,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,N,1.2,Flat,1
914,68,1,0,144,193,1,1,141,N,3.4,Flat,1
915,57,1,0,130,131,0,1,115,Y,1.2,Flat,1
916,57,0,1,130,236,0,0,174,N,0.0,Flat,1
917,38,1,2,138,175,0,1,173,N,0.0,Up,0

In [320]:
le=LabelEncoder()
df['ExerciseAngina']=le.fit_transform(df['ExerciseAngina'])

In [321]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,Up,0
1,49,0,2,160,180,0,1,156,0,1.0,Flat,1
2,37,1,1,130,283,0,2,98,0,0.0,Up,0
3,48,0,0,138,214,0,1,108,1,1.5,Flat,1
4,54,1,2,150,195,0,1,122,0,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,Flat,1
914,68,1,0,144,193,1,1,141,0,3.4,Flat,1
915,57,1,0,130,131,0,1,115,1,1.2,Flat,1
916,57,0,1,130,236,0,0,174,0,0.0,Flat,1
917,38,1,2,138,175,0,1,173,0,0.0,Up,0

In [322]:
df["ST_Slope"].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [323]:
le=LabelEncoder()
df['ST_Slope']=le.fit_transform(df['ST_Slope'])

In [324]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [325]:
x=df.iloc[:,:11]

In [326]:
x

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,1,1,140,289,0,1,172,0,0.0,2
1,49,0,2,160,180,0,1,156,0,1.0,1
2,37,1,1,130,283,0,2,98,0,0.0,2
3,48,0,0,138,214,0,1,108,1,1.5,1
4,54,1,2,150,195,0,1,122,0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1
914,68,1,0,144,193,1,1,141,0,3.4,1
915,57,1,0,130,131,0,1,115,1,1.2,1
916,57,0,1,130,236,0,0,174,0,0.0,1
917,38,1,2,138,175,0,1,173,0,0.0,2

In [327]:
y=df['HeartDisease']

In [328]:
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [329]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.9)

In [330]:
x_test.head(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
609,46,1,0,134,310,0,1,126,0,0.0,1
218,55,1,1,140,196,0,1,150,0,0.0,2
326,45,1,2,110,0,0,1,138,0,-0.1,2
79,49,1,0,130,206,0,1,170,0,0.0,1
844,52,1,3,118,186,0,0,190,0,0.0,1
71,44,1,1,130,215,0,1,135,0,0.0,2
839,35,0,0,138,183,0,1,182,0,1.4,2
833,54,1,2,120,258,0,0,147,0,0.4,1
413,56,1,2,125,0,1,1,98,0,-2.0,1
832,51,1,2,94,227,0,1,154,1,0.0,2

In [331]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [332]:
model.fit(x_train,y_train)

GaussianNB()

In [333]:
x_test[:10]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
609,46,1,0,134,310,0,1,126,0,0.0,1
218,55,1,1,140,196,0,1,150,0,0.0,2
326,45,1,2,110,0,0,1,138,0,-0.1,2
79,49,1,0,130,206,0,1,170,0,0.0,1
844,52,1,3,118,186,0,0,190,0,0.0,1
71,44,1,1,130,215,0,1,135,0,0.0,2
839,35,0,0,138,183,0,1,182,0,1.4,2
833,54,1,2,120,258,0,0,147,0,0.4,1
413,56,1,2,125,0,1,1,98,0,-2.0,1
832,51,1,2,94,227,0,1,154,1,0.0,2

In [334]:
y_test[:10]

609    1
218    0
326    0
79     1
844    0
71     0
839    0
833    0
413    1
832    0
Name: HeartDisease, dtype: int64

In [335]:
model.predict(x_test[:10])

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [336]:
model.score(x_test,y_test)

0.8695652173913043

In [337]:
input_data=(65,0,1,149,341,1,2,125,0,2.5,2)

input_arr=np.array(input_data)

In [338]:
inputs_array=input_arr.reshape(1,-1)
inputs_array

array([[ 65. ,   0. ,   1. , 149. , 341. ,   1. ,   2. , 125. ,   0. ,
          2.5,   2. ]])

In [339]:
if (model.predict(inputs_array))==1:
    print("YOUR HEART HAS GOT FAILURE")
else:
    print("YOUR HEART IS NOT FAILURED")

YOUR HEART HAS GOT FAILURE

C:\Users\mdjit\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [340]:
import pickle

In [341]:
filename='trained_model.sav'
pickle.dump(model,open(filename,'wb'))

In [342]:
loaded_model=pickle.load(open("trained_model.sav",'rb'))

In [343]:
if (loaded_model.predict(inputs_array))==1:
    print("YOUR HEART HAS GOT FAILURE")
else:
    print("YOUR HEART IS NOT FAILURED")

YOUR HEART HAS GOT FAILURE

C:\Users\mdjit\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(